body{
    background-color: rgb(1, 1, 41);
    color: white;
    font-family:"Poppins", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem; /* 1 rem : 16px */
    background-color: rgb(18, 18, 44);
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 23px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    text-decoration: none;
    color: lavender;
    font-size: 1.02rem;
}
.left{
    font-size: 1.5rem;
}
.firstSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0;
}
.firstSection > div{
    width: 30%;
}
.leftSection{
    width: 50%;
    font-size: 2.2rem;
}
.rightSection img{
    width: 80%;
    /* margin: 50px 0; */
}
.purple{
    color: rgb(163, 89, 231);
}
.textGray{
    color: grey;
}
#element{
    color: rgb(163, 89, 231);
}
.secondSection{
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}
.secondSection h1{
    font-size: 1.9rem;
}
.secondSection .box{
    background: white;
    width: 77vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}
.secondSection .vertical{
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 100px;
}
main hr{
    border: 0;
    background-color:  #9c97f1;
    height: 1.2px;
    margin: 40px 80px;
}
.img-top{
    width: 23px;
    position: relative;
    top: -32px;
    left: -10px;
}
.vertical-title{
    position: relative;
    top: 75px;
    width: 150px;
    font-size: 14px;;
}
.vertical-desc{
    position: relative;
    top: 86px;
    color: grey;
    width: 150px;
    font-size: 9px;
}
footer{
    background-color: rgb(133, 101, 133);
}
.footer{
    display: flex;
    padding:23px 122px;
    justify-content: space-evenly;
}
.footer ul{
    list-style: none;
}
.footer > div{
    width: 223px;
}
footer .footer-rights{
    text-align: center;
    color: rgb(68, 42, 42);
    padding: 12px 0;
}
.leftSection .buttons{
    padding: 12px;
    background-color: #1e2167;
    color: white;
    border: 2px solid white;
    border-radius: 7px;
    font-size: 20px;
    cursor: pointer;
}
.btn-container{
    margin: 20px;
}