body {
    background-color: rgb(10, 10, 17);
    color: white;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #1a1010;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 28px;
}

#clockContainer {
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
}

#hour, #minute, #second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour {
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.9%;
    opacity: 0.9;
}

#minute {
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
    opacity: 0.8;
}

#second {
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.5%;
    opacity: 0.7;
}

footer {
    margin-top: 20px;
    text-align: center;
}

.footer-rights {
    color: #54527c;
}
a{
    text-decoration: none;
    color: #54527c;
}
